<a href="https://colab.research.google.com/github/SimpPoseidon/PythonAssignment/blob/main/Internal_1_Tanishq_Mehrunkar_%5BIT_2k21_63%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To implement all arithmetic, relational and logical operators.

In [ ]:
num1=int(input("Enter num 1: "))
num2=int(input("Enter num 2: "))

#--------------------------------arithmetic-------------------------------------#
print(num1," + ",num2," = ",num1+num2)
print(num1," - ",num2," = ",num1-num2)
print(num1," x ",num2," = ",num1*num2)
print(num1," / ",num2," = ",num1/num2)
print(num1," % ",num2," = ",num1%num2)
print(num1," ^ ",num2," = ",num1**num2)
print(num1," // ",num2," = ",num1//num2)
#--------------------------------relational-------------------------------------#
print("Is ",num1," = ",num2," ? ",num1==num2)
print("Is ",num1," > ",num2," ? ",num1>num2)
print("Is ",num1," < ",num2," ? ",num1<num2)
print("Is ",num1," != ",num2," ? ",num1!=num2)
print("Is ",num1," >= ",num2," ? ",num1>=num2)
print("Is ",num1," <= ",num2," ? ",num1<=num2)
#--------------------------------logical-------------------------------------#
if num1>0 and num2>0:
    print(num1," and ",num2," are greater than 0")
if num1>0 or num2>0:
    print(num1," or ",num2," is greater than 0")
if not(num1%2==0 and num2%2==0):
    print(num1," or ",num2," is an odd number")

Enter num 1: 5
Enter num 2: 4
5  +  4  =  9
5  -  4  =  1
5  x  4  =  20
5  /  4  =  1.25
5  %  4  =  1
5  ^  4  =  625
5  //  4  =  1
Is  5  =  4  ?  False
Is  5  >  4  ?  True
Is  5  <  4  ?  False
Is  5  !=  4  ?  True
Is  5  >=  4  ?  True
Is  5  <=  4  ?  False
5  and  4  are greater than 0
5  or  4  is greater than 0
5  or  4  is an odd number

2. To check number is even or odd.

In [ ]:
num=int(input("Enter the number: "))

if(num%2==0): print(num," is even")
else : print(num," is odd")

Enter the number: 4
4  is even

3. To check greater of a) two numbers b) three numbers

In [ ]:
num1=int(input("Enter number 1: "))
num2=int(input("Enter number 2: "))

if num1>num2:
    print(num1," is greater")
elif num1<num2:
    print(num2," is greater")
else:
    print("Both are equal")

Enter number 1: 5
Enter number 2: 6
6  is greater

In [ ]:
num1=int(input("Enter number 1: "))
num2=int(input("Enter number 2: "))
num3=int(input("Enter number 3: "))

if num1>=num2:
    if num1>=num3:
        print(num1," is greatest")
    else:
        print(num3," is greatest")
else:
    if(num2>=num3):
        print(num2," is greatest")
    else:
        print(num3," is greatest")

Enter number 1: 4
Enter number 2: 5
Enter number 3: 6
6  is greatest

4. To find number is prime or composite.

In [ ]:
num=int(input("Enter the number: "))

count=0
for a in range(2,num):
    if num%a==0:
        count=1
        break
if(count==1):
    print(num, " is composite")
else:
    print(num," is prime")

Enter the number: 13
13  is prime

5. To print all odd/even numbers in a range.

In [ ]:
start=int(input("Enter the start: "))
end=int(input("Enter the end: "))

#-----------------------------odd------------------------------#
print("Odd:")
for a in range(start,end+1):
    if a%2!=0:
        print(a)
#-----------------------------odd------------------------------#
print("Even:")
for a in range(start,end+1):
    if a%2==0:
        print(a)

Enter the start: 5
Enter the end: 20
Odd:
5
7
9
11
13
15
17
19
Even:
6
8
10
12
14
16
18
20

6. To print all prime numbers in a range.

In [ ]:
start=int(input("Enter the start: "))
end=int(input("Enter the end: "))

for a in range(start,end+1):
    if a==1:
        continue
    for b in range(2,a):
        if a%b==0:
            break
    else:
        print(a)

Enter the start: 5
Enter the end: 20
5
7
11
13
17
19

7. To find reverse of a number.

In [ ]:
num=int(input("Enter the number: "))
res=0
while num!=0:
    rem=num%10
    res=rem+res*10
    num=num//10
print(res)

Enter the number: 3541
1453

8. To find number is palindrome or not.

In [ ]:
num=int(input("Enter the number: "))
a=num
res=0
while num!=0:
    rem=num%10
    res=rem+res*10
    num=num//10
if a==res:
    print(a, "is palindrome")
else:
    print(a, " is not a palindrome")

Enter the number: 1215121
1215121 is palindrome

9. To check number is armstrong or not.

In [ ]:
num=int(input("Enter the number: "))

s=0
a=num
while num!=0:
    rem=num%10
    num=num//10
    s+=rem**3
if s==a:
    print(a,"is an armstrong")
else:
    print(a,"is not an armstrong")

Enter the number: 153
153 is an armstrong

10. To print all armstrong numbers in a range.

In [ ]:
start=int(input("Enter the start: "))
end=int(input("Enter the end: "))

for a in range(start,end+1):
    b=a
    s=0
    while a!=0:
        rem=a%10
        a=a//10
        s+=rem**3
    if b==s: print(b)

Enter the start: 0
Enter the end: 200
0
1
153

11. To find sum of first 'n' natural numbers.

In [ ]:
n=int(input("Enter n: "));

s=0;
for a in range(1,n+1):
    s+=a;
print("Sum of first ",n," natural numbers is: ",s);

Enter n: 10
Sum of first  10  natural numbers is:  55

12. To find factorial of a given number.

In [ ]:
num=int(input("Enter the number: "));

fact=1;
for a in range(1,num+1):
    fact*=a;
print("Factorial of ",num," is: ",fact);

Enter the number: 5
Factorial of  5  is:  120

13. To print fibonacci series upto n terms.

In [ ]:
n=int(input("Enter n: "));

first=0;second=1;
print(first);
print(second);
for a in range(n-2):
    third=first+second;
    print(third);
    first,second=second,third;

Enter n: 10
0
1
1
2
3
5
8
13
21
34

14. To check year is leap year or not.

In [ ]:
year=int(input("Enter the year: "));

if year%4==0:
    if year%100==0:
        if(year%400==0):
            print(year, "is a leap year");
        else:
            print(year, "is not a leap year");
    else:
        print(year, "is a leap year");
else:
    print(year, "is not a leap year");

Enter the year: 1992
1992 is a leap year

15. To print temperature in celsius/fahrenheit and vice versa.

In [ ]:
temp=float(input("Enter the temperature in Celsius: "));
print("Temperature in Fahrenheit is: ",((9/5)*temp)+32);

temp2=float(input("Enter the temperature in Fahrenheit: "));
print("Temperature in Celsius is: ",((temp2)-32)*(5/9));

Enter the temperature in Celsius: 32
Temperature in Fahrenheit is:  89.6
Enter the temperature in Fahrenheit: 89.6
Temperature in Celsius is:  32.0

16. To print all factors of a given number using a function.

In [ ]:
num=int(input("Enter the number: "));

def facto(n):
    for a in range(1,n+1):
        if n%a==0:
            print(a);

facto(num);

Enter the number: 20
1
2
4
5
10
20

17. To convert decimal to binary,octal and hexadecimal using library function.

In [ ]:
num=int(input("Enter the number: "));

print("Binary:",bin(num));
print("Octal:",oct(num));
print("Hexadecimal:",hex(num));

Enter the number: 2
Binary: 0b10
Octal: 0o2
Hexadecimal: 0x2

18. To find factorial of a number by developing function.

In [ ]:
num=int(input("Enter a number: "));

def facto(n):
    fact=1;a=1;
    while a!=n+1:
        fact*=a;
        a+=1;
    return fact;

print("Factorial of",num,"is:",facto(num));

Enter a number: 5
Factorial of 5 is: 120

19. To print fibonacci series using recursion.

In [ ]:
n=int(input("Enter n: "));

first,second=0,1;
print(first);
print(second);
def fibo(f,s,n):
    if(n==0):return;
    t=f+s;
    print(t);
    f,s=s,t;
    n=n-1;
    fibo(f,s,n);
fibo(first,second,n-2);

Enter n: 10
0
1
1
2
3
5
8
13
21
34

20. To print factorial of a number using recursion.

In [ ]:
num=int(input("Enter the number: "));

def facto(n):
    if n==1:return n;
    return n*facto(n-1);
print("Factorial of",num,"is:",facto(num));

Enter the number: 5
Factorial of 5 is: 120

21. To find sum of first 'n' natural numbers using recursion.

In [ ]:
n=int(input("Enter n: "));

def func(n):
    if n==1: return n;
    return n+func(n-1);
print("Sum of first",n,"natural numbers is:",func(n));

Enter n: 10
Sum of first 10 natural numbers is: 55

22. To convert decimal to binary number using recursion.

In [ ]:
num=int(input("Enter the decimal number: "));

def func(n):
    if n>1:
        func(n//2);
    print(n%2,end="");

print("Binary for",num,"is:",end=" ");
func(num);

Enter the decimal number: 2
Binary for 2 is: 10

23. Write python program to display powers of 2 using anonymous function.

In [ ]:
terms = int(input("How many terms? "))
result = (lambda x: x**2)
for i in range(terms):
   print(i,"raised to power 2 is",result(i))

How many terms? 5
0 raised to power 2 is 0
1 raised to power 2 is 1
2 raised to power 2 is 4
3 raised to power 2 is 9
4 raised to power 2 is 16

24. Write a python program to find area of triangle,circle and cylinder using lambda function.

In [ ]:
print("Enter sides of triangle: ");
a=int(input("Enter a: "));
b=int(input("Enter b: "));
c=int(input("Enter c: "));

s=(a+b+c)/2;
triangle=lambda a,b,c,s:(s*(s-a)*(s-b)*(s-c))**0.5;
print("Area of triangle is:",triangle(a,b,c,s));

r1=int(input("Enter radius of circle: "));
circle=lambda r:(3.1415*r**2);
print("Area of circle is:",circle(r1));

r2=int(input("Enter radius of cylinder: "));
h=int(input("Enter height of cylinder: "));
cylinder=lambda r,h:(3.1415*2*r**2+3.1415*r*h*2);
print("TSA of cylinder is:",cylinder(r2,h));

Enter sides of triangle:
Enter a: 5
Enter b: 6
Enter c: 7
Area of triangle is: 14.696938456699069
Enter radius of circle: 2
Area of circle is: 12.566
Enter radius of cylinder: 5
Enter height of cylinder: 4
TSA of cylinder is: 282.735

25. Write a python program to add two matrices.

In [ ]:
m1=[]
m2=[]
m3=[]

col=int(input("Enter columns: "));
row=int(input("Enter rows: "));

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(int(input("Enter the element: ")));
    m1.append(Col);

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(int(input("Enter the element: ")));
    m2.append(Col);

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(0);
    m3.append(Col);

for a in range(row):
    for b in range(col):
        m3[a][b]=m1[a][b]+m2[a][b];

for a in range(row):
    for b in range(col):
        print(m3[a][b],end=" ");
    print();

Enter columns: 2
Enter rows: 2
Enter the element: 1
Enter the element: 2
Enter the element: 1
Enter the element: 2
Enter the element: 1
Enter the element: 2
Enter the element: 1
Enter the element: 2
2 4
2 4

26. Write a python program to multiply two matrices.

In [ ]:
m1=[]
m2=[]
m3=[]

col=int(input("Enter columns: "));
row=int(input("Enter rows: "));

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(int(input("Enter the element: ")));
    m1.append(Col);

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(int(input("Enter the element: ")));
    m2.append(Col);

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(0);
    m3.append(Col);

for a in range(row):
    for b in range(col):
        for c in range(row):
            m3[a][b]+=m1[a][c]*m2[c][b];

for a in range(row):
    for b in range(col):
        print(m3[a][b],end=" ");
    print();

Enter columns: 2
Enter rows: 2
Enter the element: 1
Enter the element: 2
Enter the element: 1
Enter the element: 2
Enter the element: 1
Enter the element: 2
Enter the element: 1
Enter the element: 2
3 6
3 6

27. Write a python program to transpose a matrix.

In [ ]:
m1=[]
m2=[]

col=int(input("Enter columns: "));
row=int(input("Enter rows: "));

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(int(input("Enter the element: ")));
    m1.append(Col);

for a in range(row):
    Col=[]
    for b in range(col):
        Col.append(0);
    m2.append(Col);

for a in range(row):
    for b in range(col):
        m2[a][b]=m1[b][a];

for a in range(row):
    for b in range(col):
        print(m2[a][b],end=" ");
    print();

Enter columns: 3
Enter rows: 3
Enter the element: 1
Enter the element: 2
Enter the element: 3
Enter the element: 1
Enter the element: 2
Enter the element: 3
Enter the element: 1
Enter the element: 2
Enter the element: 3
1 1 1
2 2 2
3 3 3

28. Write a python program to find average of a numeric list.

In [ ]:
lst=list(map(int,input("Enter the list: ").split()));

print("Average of the numeric list is:",sum(lst)/len(lst));

Enter the list: 1 2 3 4 5
Average of the numeric list is: 3.0

29. Write a python program to access members of list using different variations of slice operation.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10];

print(lst[:]);
print(lst[5:]);
print(lst[:7]);
print(lst[::2]);
print(lst[2:8:2]);
print(lst[-4:]);
print(lst[:-5]);
print(lst[-7:-2]);
print(lst[::-2]);
print(lst[-2:-7:-2]);
print(lst[-7:-2:2]);

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7, 9]
[3, 5, 7]
[7, 8, 9, 10]
[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8]
[10, 8, 6, 4, 2]
[9, 7, 5]
[4, 6, 8]

30. Write a python program to concatenate two lists.

In [ ]:
lst1=list(map(int,input("Enter the list: ").split()));
lst2=list(map(int,input("Enter the list: ").split()));

lst3=lst1+lst2;
print(lst3);

Enter the list: 1 2 3 4
Enter the list: 5 6 7
[1, 2, 3, 4, 5, 6, 7]

31. Write a python program to find index of a specific element and print number of occurrences.

In [ ]:
lst=list(map(int,input("Enter the list: ").split()));
num=int(input("Enter the element: "));

count=0;
for a in range(len(lst)):
    if lst[a]==num:
        print(num,"found at position",a+1);
        count+=1;

print("Element",num,"has occured",count,"times");

Enter the list: 1 2 3 2 1 2
Enter the element: 2
2 found at position 2
2 found at position 4
2 found at position 6
Element 2 has occured 3 times

32. Write a python program to identify duplicates in a list.

In [ ]:
lst=list(map(int,input("Enter the list: ").split()));

repeated = [];
for i in range(len(lst)):
    k = i + 1;
    for j in range(k,len(lst)):
        if lst[i] == lst[j] and lst[i] not in repeated:
            repeated.append(lst[i]);
print(repeated);

Enter the list: 1 2 2 3 1
[1, 2]

33. Write a python program to iterate over dictionary using for loop. [print all keys,values and items with and without using inbuilt methods]

In [ ]:
dict1={1:"one",2:"two",3:"three",4:"four"};

for i in dict1:
    print(dict1[i]);
for i in dict1:
    print(i);
for key,val in dict1.items():
    print(key,val);
for i in dict1.keys():
    print(i);
for i in dict1.values():
    print(i);

one
two
three
four
1
2
3
4
1 one
2 two
3 three
4 four
1
2
3
4
one
two
three
four

34. Write a python program to illustrate a nested dictionary.

In [ ]:
dict1={};

for i in range(5):
    key1=int(input("Enter key1: "));
    dict1[key1]={};
    key2=int(input("Enter key2: "));
    val=input("Enter value: ");
    dict1[key1][key2]=val;
print(dict1);

Enter key1: 1
Enter key2: 1
Enter value: one
Enter key1: 2
Enter key2: 2
Enter value: two
Enter key1: 3
Enter key2: 3
Enter value: three
Enter key1: 4
Enter key2: 4
Enter value: four
Enter key1: 5
Enter key2: 5
Enter value: five
{1: {1: 'one'}, 2: {2: 'two'}, 3: {3: 'three'}, 4: {4: 'four'}, 5: {5: 'five'}}

35. Write a python program to sort the dictionary according to both keys and values.

In [ ]:
dict1={};
n=int(input("Enter n: "));

for i in range(n):
    key=int(input("Enter key: "));
    val=input("Enter value: ");
    dict1[key]=val;
lst=list(dict1.keys());
lst.sort();
dict2={}
for a in lst:
    dict2[a]=dict1.get(a);
print(dict2);

lst2=list(dict1.values());
lst2.sort();
dict3={}
for a in lst2:
    for b in dict1:
        if dict1[b]==a:
            dict3[b]=a;
print(dict3);

Enter n: 3
Enter key: 3
Enter value: three
Enter key: 1
Enter value: one
Enter key: 2
Enter value: two
{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 3: 'three', 2: 'two'}